<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.com.proxal">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_man_waking_up_on_morning_sitting_on_bed_stretching_his_arms"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAtra8AdgTLmu_sv9x_K6uCdRsTfvmp6lQ" />

        <provider
            android:name=".provider.PlaceContentProvider"
            android:authorities="com.example.com.proxal"
            android:exported="false" />
        <receiver android:name="com.example.com.proxal.GeofenceBroadcastReceiver" />

        <activity android:name=".log"
                      >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"
             />
        <activity android:name=".alarm"

            ></activity>
    </application>

</manifest>